h1{
  text-align: center;
}

header{
  display: flex;
  padding-inline:  16px;
  padding-block: 8px;
  background-color: #aa64a1;
  color: white;
  align-items: center;
  justify-content: space-between;
}