h1{
  text-align: center;
  padding: 10px;
}

header{
  position: fixed;
  width: 100%;
  display: flex;
  padding-inline:  16px;
  padding-block: 8px;
  background-color: #aa64a1;
  color: white;
  align-items: center;
  justify-content: space-between;
  z-index: 5000;
}