
<h2>All Events</h2>
<div>
  <div *ngIf = "events.length === 0">
    There are no events to display
  </div>
  <div *ngFor = "let event of events" class="list">
    <h3 class="">{{event.title}}</h3> 
    <div class="info"> 
      <p id="id" hidden>{{event.id}}</p>
      Date: {{event.date}} 
      <p>Time: {{event.time}}</p>
      <p>Location: {{event.location}}</p>
      <p class="desc">{{event.description}}</p>
      <div class="delete-div btn-small">
        <button class="btn btn-delete" (click)="onDelete(event.id)">Delete Event</button>
      </div>
      
    </div>
  </div>

</div>

   
