<section class="home-body">
  <div class="content">
    <div class="left-side">
      <h1 style="text-align: center;" class="subtitle">View, add and delete events</h1>
      <br>
    </div>
    <div class="btn-small"  aria-label="">
      <button 
        class="btn"
        (click)="showModal = true" 
        >
        Add an Event
    </button>

    <div *ngIf="showModal" class="modal-popup">
      <div class="modal-box">
        <app-form-modal (close)="showModal = false"></app-form-modal>
      </div>
      </div>
    </div>

    <div class="">
      <app-event-list> </app-event-list>
   
    </div>
  </div>


</section>
